<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1><b><strong>НАСТОЛЬНЫЕ ИГРЫ</strong></b></h1>
    <ul>
        <li> <i>Шахматы</i> <button> <h6> Купить </h6></button></li>
        <li> <i>Шашки</i> <button> <h6> Купить </h6></button></li>
        <li> <i>Нарды</i> <button> <h6> Купить </h6></button></li>
        <li> <i>Гонки</i> <button> <h6> Купить </h6></button></li>
    </ul>
    <p>

        <button>
            <a href="http://127.0.0.1:8000/" class="button"> <strong> Вернуться обратно </a>

        </button>
       

    </p>

</body>
</html>